!!! 5
%html
  %head
    = render 'shared/head'
  %body
    = render 'shared/header'
    = render 'shared/messages'
    #main-container.container
      = yield
    %footer
      = render 'shared/footer'
    



